.header{
  background-color: rgb(36, 41, 46);
  height: 50px;
  padding: 25px 0px 0px 0px;
}

.items{
  display: flex;
  list-style: none;
  margin-left: 15px;
  gap: 18px;
}

.navLink{
color: rgb(237, 19, 19);
}

.deActive{
  color: rgb(243, 247, 244);
}
