.header{
  background-color: rgb(203, 213, 222);
  height: 50px;
  padding: 25px 0px 0px 0px;
}

.items{
  display: flex;
  list-style: none;
  margin-left: 15px;
  gap: 18px;
}

/* .navLink{

&.active {
    color: red;
  }
} */
